.block {
	background: #aaa;
	display: inline-block;
	padding: 4px;
	size: 14px;
	font: sans-serif;
}
.block:hover {
	background: #ddd;
	cursor: pointer;
}
.layerOn {
	background: #090;
}
.layerOn:hover {
	background: #3C3;
}
.hide {
	display: none;
}
